main {
    font-family: Verdana, sans-serif;
    margin-left: 10px;
    background-color: #f7f7f7;
    border-radius: 5px;
    border: 1px solid #d7d6d5;

    .catalogue-categories {

        .title {
            font-size: 16px;
            font-weight: bold;
            color: red;
            margin-top: 10px;
            margin-bottom: 10px;
            margin-left: 10px;
        }

        .category {
            background-color: white;
            height: 70px;
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-bottom: 10px;


            .letter {
                border-right: 1px dotted black;
                font-size: 20px;
                line-height: 70px;
                width: 60px;
                height: 100%;
                display: flex;
                flex-direction: row;
                justify-content: center;
            }

            .text a {
                margin-left: 18px;
                font-weight: bold;
                color: #739171;
                text-decoration: underline;
            }
        }
    }
}