doctype html
html(lang='ru')
    head
        meta(charset="utf8")
        meta(name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1")
        title='Саньхэ - клуб традиционного ушу'
        link(rel="stylesheet" type="text/css" href="catalogue2.css")
        link(rel="stylesheet" type="text/css" href="catalogue2-mobile.css")
        link(rel="stylesheet" type="text/css" href="common.css")
        link(rel="stylesheet" type="text/css" href="common-mobile.css")
    body
        header
            .header-left
                img.logo(src="images/logo.png" alt="")
                .name
                    .name-bold «Саньхэ»
                    .name-normal Клуб традиционного ушу
            .header-phones-and-addresses
                .contacts
                    .phone +7 (988) <span class="red">762-26-10</span>
                    .email maihua@rambler.ru
                img.vertical-separator(src="images/vertical-separator.png" alt="")
                .address
                    .address-1 г. Новороссийск,
                    .address-2.red ул. Промышленная, 57
        .page
            aside
                nav.navi
                    ul.main
                        li 
                            a(href='#') Главная
                        li 
                            a(href='#') Новости
                        li.selected 
                            a(href='#') Клуб "Саньхэ"
                        ul.submenu
                            li
                                a(href="#") О клубе
                            li
                                a(href="#") Дисциплины
                            li
                                a(href="#") Преподаватели
                            li
                                a(href="#") Беседы с мастером
                            li
                                a(href="#") Задать вопрос
                        li 
                            a(href='#') Ушу
                        li 
                            a(href='#') Тайцзи цюань
                        li 
                            a(href='#') Цигун
                        li 
                            a(href='#') Интересное
                        li 
                            a(href='#') Туризм
                        li 
                            a(href='#') Боевые искусства
                        li 
                            a(href='#') Спортивный каталог
                        li 
                            a(href='#') Контакты
                .banner-1
                    img(src='images/banner1.png' alt='')
                .banner-2
                    .notice
                        img(src='images/banner-notice.png' alt='')
                    .title <span class="red">С 11 по 16 апреля 2013 г.</span> в Таллине проходит 1-й Чемпионат Европы по традиционному ушу
                    .subtitle Мероприятие организовано Европейской Федерацией ушу (EWUF)
                .banner-1
                    img(src='images/banner3.png' alt='')
                .poll
                    .title ОПРОС
                    .results
                        a(href="#") Результаты опроса
                    .form
                        form(action='#' method='post')
                            .form__title Что является первопричиной болезней?
                            .form__row
                                input(type='radio' id='opt1' name='poll')
                                label(for='opt1' class='radio-list') 
                                span.sign Образ жизни
                            .form__row
                                input(type='radio' id='opt2' name='poll')
                                label(for='opt2' class='radio-list') 
                                span.sign Питание
                            .form__row
                                input(type='radio' id='opt3' name='poll')
                                label(for='opt3' class='radio-list') 
                                span.sign Наследственность
                            .form__row
                                input(type='radio' id='opt4' name='poll')
                                label(for='opt4' class='radio-list') 
                                span.sign Экология
                            .form__row
                                input(type='radio' id='opt5' name='poll')
                                label(for='opt5' class='radio-list') 
                                span.sign Состояние сознания
                            .form__row
                                input(type='radio' id='opt6' name='poll')
                                label(for='opt6' class='radio-list') 
                                span.sign Грехи
                        button.red-vote голосовать
                        button.green-otherpolls другие опросы
            main
                section.banner
                    img(src='images/banner-top.png')
                section.breadcrumbs
                    ul
                        li Главная
                        li Каталог
                        li Каталог спортивных организаций
                        li.active Краснодар
                section.list
                    .title Краснодар
                    ul
                        li 
                            a(href='#') «Федерация бокса города Краснодара»
                        li 
                            a(href='#') Группа преподавателей йоги
                        li 
                            a(href='#') Зал тяжелой атлетики «Спартак»
                        li 
                            a(href='#') Йога-студия
                        li 
                            a(href='#') Краснодарский клуб альпинистов «Стремление»
                        li 
                            a(href='#') Студия бального танца «Вэлданс»
                        li 
                            a(href='#') Студия йоги «НЕБЕСНЫЙ ЛОТОС»
                        li 
                            a(href='#') Студия танца и йоги Вэлданс
                        li 
                            a(href='#') Спортклуб «Мfit»
                        li 
                            a(href='#') Танцевально-спортивный клуб «ИНТРО», INTRO Dance Studio
        footer
            .central-part
                .footer-column1
                    .general
                        img(src='images/footer-logo.png' alt='' class='logo-footer')
                        .text
                            .name Саньхэ
                            .subline Клуб традиционного ушу
                    .copyright www.novoshu.ru / “Саньхэ”, клуб традиционного ушу / Все права защищены, 2001-2020
                img.vertical-separator(src="images/vertical-separator-2.png" alt="")
                .footer-column2
                    .phone + 7 (988) 762-26-10
                    .email.white maihua@rambler.ru
                    .address 
                        .address-1.white г.Новороссийск 
                        .address-2 ул. Промышленная, 57
                img.vertical-separator(src="images/vertical-separator-2.png" alt="")                    
                .footer-column3
                    ul
                        li 
                            a(href='#') Новости
                        li 
                            a(href='#') Клуб Саньхэ
                        li 
                            a(href='#') Ушу
                        li 
                            a(href='#') Тайцзи цюань
                        li 
                            a(href='#') Цигун
                        li 
                            a(href='#') Интересное
                img.vertical-separator(src="images/vertical-separator-2.png" alt="")
                .footer-column4
                    .social-column
                        .social-link
                            img(src='images/footer-fb.png', alt='')
                            a(href='#') Facebook
                        .social-link
                            img(src='images/footer-tw.png', alt='')
                            a(href='#') Twitter
                        .social-link
                            img(src='images/footer-yt.png', alt='')
                            a(href='#') YouTube
                    .social-column
                        .social-link
                            img(src='images/footer-vk.png', alt='')
                            a(href='#') Vkontakte
                        .social-link
                            img(src='images/footer-gplus.png', alt='')
                            a(href='#') Google Plus