main {
    font-family: Verdana, sans-serif;
    margin-left: 10px;
    background-color: #f7f7f7;
    border-radius: 5px;
    border: 1px solid #d7d6d5;

    .stremleniye {

        .title {
            font-size: 16px;
            font-weight: bold;
            color: red;
            margin-top: 10px;
            margin-bottom: 10px;
            margin-left: 10px;
        }

    .stremleniye-content {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        padding-bottom: 27px;
        border-bottom: 1px dotted black;
        font-size: 13px;

        .text {
            margin-left: 15.75px;

            a {
                color: #739171;
                font-weight: bold;
                text-decoration: underline;
                font-size: 13px;
            }
        }

        p:nth-of-type(1) {
            margin-top: 9.3px;
        }
    }
    }
    .socials {
        margin-top: 17px;
        background-color: white;
    }


}