main {
    font-family: Verdana, sans-serif;
    margin-left: 10px;
    background-color: #f7f7f7;
    border-radius: 5px;
    border: 1px solid #d7d6d5;

    .contacts {
        margin-left: 10px;
        margin-bottom: 20px;

        .title {
            font-size: 16px;
            font-weight: bold;
            color: red;
            margin-top: 10px;
            margin-bottom: 10px;
        }

        .contact-option {
            font-size: 12px;
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-bottom: 11px;

            img {
                margin-right: 5px;
            }
        }
    }

    .maps {
        margin-left: 10px;

        .title {
            font-size: 16px;
            color: red;
            margin-top: 10px;
            margin-bottom: 10px;
        }
    }
}