main {
  margin-left: 10px;
  background-color: #f7f7f7;
  border-radius: 5px;
  border: 1px solid #d7d6d5;
  font: 13px Verdana, sans-serif;
}

main .contact-form {
  margin-left: 10px;
}

main .contact-form .form-group-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 10px;
  margin-bottom: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .contact-form .form-group-2 label {
  margin-right: 10px;
}

main .contact-form .form-group-1 {
  margin-top: 10px;
  margin-bottom: 10px;
}

main .contact-form .form-group-1 .label {
  margin-bottom: 5px;
}

main .contact-form .title {
  font-size: 16px;
  font-weight: bold;
  color: red;
  margin-top: 10px;
  margin-bottom: 10px;
}

main .contact-form .label {
  font-weight: bold;
  margin-right: 10px;
}

main .contact-form input[type='text'] {
  -webkit-box-shadow: inset 1px 1px 1px grey;
          box-shadow: inset 1px 1px 1px grey;
  background: #e7e7e7;
  background: -webkit-gradient(linear, left bottom, left top, from(#e7e7e7), to(white));
  background: linear-gradient(0deg, #e7e7e7 0%, white 100%);
  border: none;
  border-radius: 3px;
}

main .contact-form .select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 17px;
}

main .contact-form .select2-container--default .select2-selection--single .select2-selection__rendered {
  -webkit-box-shadow: inset 1px 1px 1px grey;
          box-shadow: inset 1px 1px 1px grey;
  background: -webkit-gradient(linear, left bottom, left top, from(#e7e7e7), to(white));
  background: linear-gradient(0deg, #e7e7e7 0%, white 100%);
  height: 17px !important;
  line-height: 17px;
}

main .contact-form textarea {
  height: 163px;
  width: 450px;
  -webkit-box-shadow: inset 0.5px 0.5px 0.5px grey;
          box-shadow: inset 0.5px 0.5px 0.5px grey;
  background: #e7e7e7;
  background: -webkit-gradient(linear, left bottom, left top, from(#e7e7e7), to(white));
  background: linear-gradient(0deg, #e7e7e7 0%, white 100%);
}

main .contact-form .send-button {
  display: block;
  background-color: red;
  font: 12px Verdana, sans-serif;
  color: white;
  border: none;
  border-radius: 3px;
}

main .reply {
  margin-top: 15px;
  border-top: 1px dotted black;
  border-bottom: 1px dotted black;
  padding-top: 10px;
}

main .reply .date, main .reply .author, main .reply .question, main .reply .rep {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 10px;
}

main .reply .mark {
  color: red;
  font-weight: bold;
}

main .reply .text {
  font-weight: bold;
}

main .reply:nth-of-type(1) {
  border-bottom: none !important;
}

.select2-results__options {
  background: -webkit-gradient(linear, left bottom, left top, from(#e7e7e7), to(white));
  background: linear-gradient(0deg, #e7e7e7 0%, white 100%);
  font: 13px Verdana, sans-serif;
}

.select2-container .select2-selection--single {
  height: 17px !important;
}
/*# sourceMappingURL=form.css.map */