main {
    margin-left: 10px;
    background-color: #f7f7f7;
    border-radius: 5px;
    border: 1px solid #d7d6d5;
    font: 13px Verdana, sans-serif;

    .contact-form {
        margin-left: 10px;

        .form-group-2 {
            display: flex;
            flex-direction: row;
            margin-top: 10px;
            margin-bottom: 10px;
            align-items: center;

            label {
                margin-right: 10px;
            }
        }

        .form-group-1 {
            margin-top: 10px;
            margin-bottom: 10px;

            .label {
                margin-bottom: 5px;
            }
        }

        .title {
            font-size: 16px;
            font-weight: bold;
            color: red;
            margin-top: 10px;
            margin-bottom: 10px;
        }

        .label {
            font-weight: bold; margin-right: 10px;
        }

        input[type='text'] {
            box-shadow: inset 1px 1px 1px grey;
            background: rgb(231,231,231);
            background: linear-gradient(0deg, rgba(231,231,231,1) 0%, rgba(255,255,255,1) 100%);
            border: none;
            border-radius: 3px;
        }

        .select2-container--default .select2-selection--single .select2-selection__arrow {
            height: 17px;
        }

        .select2-container--default .select2-selection--single .select2-selection__rendered {
            box-shadow: inset 1px 1px 1px grey;
            background: linear-gradient(0deg, rgba(231,231,231,1) 0%, rgba(255,255,255,1) 100%);
            height: 17px !important;
            line-height: 17px;
        }

        textarea {
            height: 163px;
            width: 450px;
            box-shadow: inset 0.5px 0.5px 0.5px grey;
            background: rgb(231,231,231);
            background: linear-gradient(0deg, rgba(231,231,231,1) 0%, rgba(255,255,255,1) 100%); 
        }

        .send-button {
            display: block;
            background-color: red;
            font: 12px Verdana, sans-serif;
            color: white;
            border: none;
            border-radius: 3px;
        }
    }

    .reply {
        margin-top: 15px;
        border-top: 1px dotted black;
        border-bottom: 1px dotted black;
        padding-top: 10px;

        .date, .author, .question, .rep {
            margin-top: 5px;
            margin-bottom: 5px;
            margin-left: 10px;
        }

        .mark {
            color: red;
            font-weight: bold;
        }

        .text {
            font-weight: bold;            
        }
    }

    .reply:nth-of-type(1) {
        border-bottom: none !important;   
    }
}

.select2-results__options {
    background: linear-gradient(0deg, rgba(231,231,231,1) 0%, rgba(255,255,255,1) 100%);
    font: 13px Verdana, sans-serif;
}

.select2-container .select2-selection--single {
    height: 17px !important;
}