doctype html
html(lang='ru')
    head
        meta(charset="utf8")
        meta(name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1")
        title='Саньхэ - клуб традиционного ушу'
        link(rel="stylesheet" type="text/css" href="index.css")
        link(rel="stylesheet" type="text/css" href="index-mobile.css")
        link(rel="stylesheet" type="text/css" href="common.css")
        link(rel="stylesheet" type="text/css" href="common-mobile.css")
        link(rel='stylesheet' type='text/css' href='swiper-settings.css')
        link(rel='stylesheet' type='text/css' href='./swiper/css/swiper.css')
    body
        header
            .header-left
                img.logo(src="images/logo.png" alt="")
                .name
                    .name-bold «Саньхэ»
                    .name-normal Клуб традиционного ушу
            .header-phones-and-addresses
                .contacts
                    .phone +7 (988) <span class="red">762-26-10</span>
                    .email maihua@rambler.ru
                img.vertical-separator(src="images/vertical-separator.png" alt="")
                .address
                    .address-1 г. Новороссийск,
                    .address-2.red ул. Промышленная, 57
        .page
            aside
                nav.navi
                    ul.main
                        li 
                            a(href='#') Главная
                        li 
                            a(href='#') Новости
                        li.selected 
                            a(href='#') Клуб "Саньхэ"
                        ul.submenu
                            li
                                a(href="#") О клубе
                            li
                                a(href="#") Дисциплины
                            li
                                a(href="#") Преподаватели
                            li
                                a(href="#") Беседы с мастером
                            li
                                a(href="#") Задать вопрос
                        li 
                            a(href='#') Ушу
                        li 
                            a(href='#') Тайцзи цюань
                        li 
                            a(href='#') Цигун
                        li 
                            a(href='#') Интересное
                        li 
                            a(href='#') Туризм
                        li 
                            a(href='#') Боевые искусства
                        li 
                            a(href='#') Спортивный каталог
                        li 
                            a(href='#') Контакты
                .banner-1
                    img(src='images/banner1.png' alt='')
                .banner-2
                    .notice
                        img(src='images/banner-notice.png' alt='')
                    .title <span class="red">С 11 по 16 апреля 2013 г.</span> в Таллине проходит 1-й Чемпионат Европы по традиционному ушу
                    .subtitle Мероприятие организовано Европейской Федерацией ушу (EWUF)
                .banner-1
                    img(src='images/banner3.png' alt='')
                .poll
                    .title ОПРОС
                    .results
                        a(href="#") Результаты опроса
                    .form
                        form(action='#' method='post')
                            .form__title Что является первопричиной болезней?
                            .form__row
                                input(type='radio' id='opt1' name='poll')
                                label(for='opt1' class='radio-list') 
                                span.sign Образ жизни
                            .form__row
                                input(type='radio' id='opt2' name='poll')
                                label(for='opt2' class='radio-list') 
                                span.sign Питание
                            .form__row
                                input(type='radio' id='opt3' name='poll')
                                label(for='opt3' class='radio-list') 
                                span.sign Наследственность
                            .form__row
                                input(type='radio' id='opt4' name='poll')
                                label(for='opt4' class='radio-list') 
                                span.sign Экология
                            .form__row
                                input(type='radio' id='opt5' name='poll')
                                label(for='opt5' class='radio-list') 
                                span.sign Состояние сознания
                            .form__row
                                input(type='radio' id='opt6' name='poll')
                                label(for='opt6' class='radio-list') 
                                span.sign Грехи
                        button.red-vote голосовать
                        button.green-otherpolls другие опросы  
            main
                section.sliders
                    .swiper-container
                        .swiper-wrapper
                            .swiper-slide
                                img(src='images/slider-1.png' alt='')
                                .caption
                                    | "Саньхэ"
                                    br
                                    | Лучшие традиции ушу
                            .swiper-slide
                                img(src='images/slider-1.png' alt='')
                                .caption
                                    | "Саньхэ"
                                    br
                                    | Лучшие традиции ушу
                            .swiper-slide
                                img(src='images/slider-1.png' alt='')
                                .caption
                                    | "Саньхэ"
                                    br
                                    | Лучшие традиции ушу    
                        .swiper-pagination
                    .shadow-effect
                        img(src='images/slider-section-shadow.png' alt='')
                section.events
                    .hr-title
                        .hr-title__caps СОБЫТИЯ
                        hr
                    .calendar
                        .calendar-row
                            .calendar-cell
                                .calendar-cell__date
                                    .date 12
                                    .additional
                                        .month 04
                                        .year 13
                                .calendar-cell__text 
                                    a(href='#') Чемпионат России по традиционными видам ушу, Воронеж, май 2012
                            .calendar-cell
                                .calendar-cell__date
                                    .date 11
                                    .additional
                                        .month 04
                                        .year 13
                                .calendar-cell__text 
                                    a(href='#') Итоговые соревнования клуба "Архат", май 2011
                            .calendar-cell
                                .calendar-cell__date
                                    .date 10
                                    .additional
                                        .month 04
                                        .year 13
                                .calendar-cell__text 
                                    a(href='#') Чемпионат России по традиционными видам ушу, Воронеж, май 2012
                        .calendar-row
                            .calendar-cell
                                .calendar-cell__date
                                    .date 12
                                    .additional
                                        .month 04
                                        .year 13
                                .calendar-cell__text 
                                    a(href='#') Чемпионат России по традиционными видам ушу, Воронеж, май 2012
                            .calendar-cell
                                .calendar-cell__date
                                    .date 11
                                    .additional
                                        .month 04
                                        .year 13
                                .calendar-cell__text 
                                    a(href='#') Итоговые соревнования клуба "Архат", май 2011
                            .calendar-cell
                                .calendar-cell__date
                                    .date 10
                                    .additional
                                        .month 04
                                        .year 13
                                .calendar-cell__text 
                                    a(href='#') Чемпионат России по традиционными видам ушу, Воронеж, май 2012
                section.popular
                    .hr-title
                        .hr-title__caps ПОПУЛЯРНОЕ
                        hr                
                    article.article-preview
                        .main
                            figurine.article-preview__figurine
                                img(src='images/art1.png' alt='')
                            .article-preview__text
                                .article-preview__header.red
                                    img(src='images/article-before__square.png' alt='')
                                    | Дайсэцу Судзуки 
                                .article-preview__body
                                    | Дайсэцу Судзуки исследовал, популяризировал и пропагандировал немонастырский дзен-буддизм и стремился к сближению западной и восточной философии и психологии. Ряд его работ посвящены общим проблемам буддизма махаяны, формированию религигиозной практики и учения буддизма в Китае. Особое внимание Судзуки уделял проблемам адаптации явлений дальневосточной культуры к иным традициям, отличающимся от них...
                        .article-preview__comments
                            img(src='images/comment.png' alt='')
                            a(href='#') 23 комментария
                    article.article-preview
                        .main
                            figurine.article-preview__figurine
                                img(src='images/art2.png' alt='')
                            .article-preview__text
                                .article-preview__header.red
                                    img(src='images/article-before__square.png' alt='')
                                    | Цигун для лечения близорукости 
                                .article-preview__body
                                    | Данный комплекс упражнений выполняется в три этапа. Первый этап — «релаксация с обращением взгляда вовнутрь». Принципы упражнений данного этапа основаны на представлениях традиционной китайской медицины о взаимосвязи функций зрения и внутренних органов — печени, почек, сердца и других. Упражнения способствуют «раскрепощению» и улучшению состояния глазных мышц. Второй этап — «движения глазными яблоками в состоянии покоя»...
                        .article-preview__comments
                            img(src='images/comment.png' alt='')
                            a(href='#') 12 комментариев
                    article.article-preview
                        .main
                            figurine.article-preview__figurine
                                img(src='images/art3.png' alt='')
                            .article-preview__text
                                .article-preview__header.red
                                    img(src='images/article-before__square.png' alt='')
                                    | Упражнения цигун перед сном 
                                .article-preview__body
                                    | Предлагаемый комплекс включает в себя три вида упражнений: юйчань си чжэнь гун («Дыхание лягушки»), ляньхуа цзо гун («Бутон лотоса») и юйчань фаньлан гун («Лягушка, покачивающаяся на волне»). Выполнение упражнений юйчань фаньлан гун у большинства тренирующихся ослабляет или полностью устраняет чувство голода. .... 
                        .article-preview__comments
                            img(src='images/comment.png' alt='')
                            a(href='#') 14 комментариев
                    article.article-preview
                        .main
                            figurine.article-preview__figurine
                                img(src='images/art1.png' alt='')
                            .article-preview__text
                                .article-preview__header.red
                                    img(src='images/article-before__square.png' alt='')
                                    | Дайсэцу Судзуки 
                                .article-preview__body
                                    | Дайсэцу Судзуки исследовал, популяризировал и пропагандировал немонастырский дзен-буддизм и стремился к сближению западной и восточной философии и психологии. Ряд его работ посвящены общим проблемам буддизма махаяны, формированию религигиозной практики и учения буддизма в Китае. Особое внимание Судзуки уделял проблемам адаптации явлений дальневосточной культуры к иным традициям, отличающимся от них...
                        .article-preview__comments
                            img(src='images/comment.png' alt='')
                            a(href='#') 23 комментария
                    article.article-preview
                        .main
                            figurine.article-preview__figurine
                                img(src='images/art2.png' alt='')
                            .article-preview__text
                                .article-preview__header.red
                                    img(src='images/article-before__square.png' alt='')
                                    | Цигун для лечения близорукости 
                                .article-preview__body
                                    | Данный комплекс упражнений выполняется в три этапа. Первый этап — «релаксация с обращением взгляда вовнутрь». Принципы упражнений данного этапа основаны на представлениях традиционной китайской медицины о взаимосвязи функций зрения и внутренних органов — печени, почек, сердца и других. Упражнения способствуют «раскрепощению» и улучшению состояния глазных мышц. Второй этап — «движения глазными яблоками в состоянии покоя»...
                        .article-preview__comments
                            img(src='images/comment.png' alt='')
                            a(href='#') 12 комментариев
                section.clubs
                    .hr-title
                        .hr-title__caps КЛУБЫ
                        hr
                    .clubs-list
                        .clubs-row
                                .club-cell
                                    .club-cell__clubname
                                        .image
                                            img(src='images/club1.png' alt='')
                                        .text
                                           a(href='#') Сибирский Шаолинь, клуб традиционного ушу
                                    .club-cell__text Традиционная китайская система совершенствования личности
                                .club-cell
                                    .club-cell__clubname
                                        .image
                                            img(src='images/club2.png' alt='')
                                        .text
                                           a(href='#') Федерация УШУ Костромской области
                                           br
                                           a(href='#') Клуб УШУ «Феникс»
                                    .club-cell__text Традиционная китайская система совершенствования личности                                
                                .club-cell
                                    .club-cell__clubname
                                        .image
                                            img(src='images/club1.png' alt='')
                                        .text
                                           a(href='#') Сибирский Шаолинь, клуб традиционного ушу
                                    .club-cell__text Традиционная китайская система совершенствования личности
        footer
            .central-part
                .footer-column1
                    .general
                        img(src='images/footer-logo.png' alt='' class='logo-footer')
                        .text
                            .name Саньхэ
                            .subline Клуб традиционного ушу
                    .copyright www.novoshu.ru / “Саньхэ”, клуб традиционного ушу / Все права защищены, 2001-2020
                img.vertical-separator(src="images/vertical-separator-2.png" alt="")
                .footer-column2
                    .phone + 7 (988) 762-26-10
                    .email.white maihua@rambler.ru
                    .address 
                        .address-1.white г.Новороссийск 
                        .address-2 ул. Промышленная, 57
                img.vertical-separator(src="images/vertical-separator-2.png" alt="")                    
                .footer-column3
                    ul
                        li 
                            a(href='#') Новости
                        li 
                            a(href='#') Клуб Саньхэ
                        li 
                            a(href='#') Ушу
                        li 
                            a(href='#') Тайцзи цюань
                        li 
                            a(href='#') Цигун
                        li 
                            a(href='#') Интересное
                img.vertical-separator(src="images/vertical-separator-2.png" alt="")
                .footer-column4
                    .social-column
                        .social-link
                            img(src='images/footer-fb.png', alt='')
                            a(href='#') Facebook
                        .social-link
                            img(src='images/footer-tw.png', alt='')
                            a(href='#') Twitter
                        .social-link
                            img(src='images/footer-yt.png', alt='')
                            a(href='#') YouTube
                    .social-column
                        .social-link
                            img(src='images/footer-vk.png', alt='')
                            a(href='#') Vkontakte
                        .social-link
                            img(src='images/footer-gplus.png', alt='')
                            a(href='#') Google Plus

        script(src='https://code.jquery.com/jquery-2.2.4.min.js')
        script(src='./swiper/js/swiper.js')
        script(src='swiper-init.js')