doctype html
html(lang='ru')
    head
        meta(charset="utf8")
        meta(name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1")
        title='Саньхэ - клуб традиционного ушу'
        link(rel="stylesheet" type="text/css" href="traveling-india.css")
        link(rel="stylesheet" type="text/css" href="traveling-india-mobile.css")
        link(rel="stylesheet" type="text/css" href="common.css")
        link(rel="stylesheet" type="text/css" href="common-mobile.css")
    body
        header
            .header-left
                img.logo(src="images/logo.png" alt="")
                .name
                    .name-bold «Саньхэ»
                    .name-normal Клуб традиционного ушу
            .header-phones-and-addresses
                .contacts
                    .phone +7 (988) <span class="red">762-26-10</span>
                    .email maihua@rambler.ru
                img.vertical-separator(src="images/vertical-separator.png" alt="")
                .address
                    .address-1 г. Новороссийск,
                    .address-2.red ул. Промышленная, 57
        .page
            aside
                nav.navi
                    ul.main
                        li 
                            a(href='#') Главная
                        li 
                            a(href='#') Новости
                        li.selected 
                            a(href='#') Клуб "Саньхэ"
                        ul.submenu
                            li
                                a(href="#") О клубе
                            li
                                a(href="#") Дисциплины
                            li
                                a(href="#") Преподаватели
                            li
                                a(href="#") Беседы с мастером
                            li
                                a(href="#") Задать вопрос
                        li 
                            a(href='#') Ушу
                        li 
                            a(href='#') Тайцзи цюань
                        li 
                            a(href='#') Цигун
                        li 
                            a(href='#') Интересное
                        li 
                            a(href='#') Туризм
                        li 
                            a(href='#') Боевые искусства
                        li 
                            a(href='#') Спортивный каталог
                        li 
                            a(href='#') Контакты
                .banner-1
                    img(src='images/banner1.png' alt='')
                .banner-2
                    .notice
                        img(src='images/banner-notice.png' alt='')
                    .title <span class="red">С 11 по 16 апреля 2013 г.</span> в Таллине проходит 1-й Чемпионат Европы по традиционному ушу
                    .subtitle Мероприятие организовано Европейской Федерацией ушу (EWUF)
                .banner-1
                    img(src='images/banner3.png' alt='')
                .poll
                    .title ОПРОС
                    .results
                        a(href="#") Результаты опроса
                    .form
                        form(action='#' method='post')
                            .form__title Что является первопричиной болезней?
                            .form__row
                                input(type='radio' id='opt1' name='poll')
                                label(for='opt1' class='radio-list') 
                                span.sign Образ жизни
                            .form__row
                                input(type='radio' id='opt2' name='poll')
                                label(for='opt2' class='radio-list') 
                                span.sign Питание
                            .form__row
                                input(type='radio' id='opt3' name='poll')
                                label(for='opt3' class='radio-list') 
                                span.sign Наследственность
                            .form__row
                                input(type='radio' id='opt4' name='poll')
                                label(for='opt4' class='radio-list') 
                                span.sign Экология
                            .form__row
                                input(type='radio' id='opt5' name='poll')
                                label(for='opt5' class='radio-list') 
                                span.sign Состояние сознания
                            .form__row
                                input(type='radio' id='opt6' name='poll')
                                label(for='opt6' class='radio-list') 
                                span.sign Грехи
                        button.red-vote голосовать
                        button.green-otherpolls другие опросы
            main
                section.banner
                    img(src='images/banner-top.png')
                section.breadcrumbs
                    ul
                        li Главная
                        li Туризм
                        li.active Путешествуя по Индии
                article.art
                    .title Путешествуя по Индии
                    .date 12.12.2013
                    .text
                        p Сегодня в Индии, по неофициальным данным, легально или незаконно проживают более двух миллионов выходцев из бывшего СССР. Корреспонденты разыскали двух представителей этого беспокойного племени. Два молодых человека - наших соотечественника - семь лет путешествовали по Индии без документов. Каруна и Али давно увлекались йогой, тантрическим сексом и мантрами, а посему желание отправиться в Индию и припасть к духовным очагам древней культуры было вполне естественным.
                        p.bold - Сейчас мы идем в Министерство иностранных дел. Главное, ребята, поменьше жизни в глазах. Помните, вы - сумасшедшие. Но слюни пускать не надо: если пол загадите этим бюрократам, выгонят!
                        img(src='images/travelling-india-1.png' alt='')
                        p 30-летний Каруна (ранее Денис Фокин) и 37-летний Али (в прошлой жизни Дмитрий Коровин) берутся за руки и доверчиво идут за своим провожатым с пыльной улочки Дели в здание, веющее прохладой кондиционеров. Оба «сумасшедших» неплохо знают и английский, и хинди, но в разговоре их участие не требуется. Не нужно даже прислушиваться. По заранее разработанному плану Али в кабинете у большого начальника на корточках начинает искать насекомых, якобы ползающих по полу. Каруна рисует пальцем у себя на ладони. Что-то у него не выходит: он, сердито поскуливая, машет руками и начинает работу заново.
                        | - Вот наши герои, - представляет их сопровождающий. - Русские туристы. Идиоты. Несчастный случай. Уже семь лет выбраться на Родину не могут... 
                        p.bold - Поехали мы по обычной двухмесячной визе, рассчитывая посетить Индию и Непал, - рассказывает Каруна. - Хотели от Дели добраться до Катманду. По дороге побывали в знаменитом Ришикеше, где когда-то жил духовный наставник «Битлз» гуру Махариши, - обычный туристический маршрут. Зато потом поднялись к истокам Ганга и дальше часть пути прошли по реке по совершенно диким местам. 
                        img(src='images/travelling-india-2.png' alt='')
                        p Местные жители разрешали нам ночевать в сельских храмах. Но как-то в храм заползла змея, и из-за нас аборигенам пришлось ее убить. Случай для индийцев-пацифистов весьма прискорбный, чуть ли не смертный грех. Молва об этом разошлась быстро, и больше в храмы нас не пускали. Но все равно путешествие очень понравилось. И уже в Непале я понял, что хочу назад в Индию. Али все же улетел в Москву, а я остался. Виза уже истекала, и легально непальско-индийскую границу я перейти не мог. Впрочем, пограничники тщательно проверяют документы только у «белого человека», а на местных крестьян и паломников внимания не обращают. 
                        img(src='images/travelling-india-1.png' alt='')                        
                        p 30-летний Каруна (ранее Денис Фокин) и 37-летний Али (в прошлой жизни Дмитрий Коровин) берутся за руки и доверчиво идут за своим провожатым с пыльной улочки Дели в здание, веющее прохладой кондиционеров. Оба «сумасшедших» неплохо знают и английский, и хинди, но в разговоре их участие не требуется. Не нужно даже прислушиваться. По заранее разработанному плану Али в кабинете у большого начальника на корточках начинает искать насекомых, якобы ползающих по полу. Каруна рисует пальцем у себя на ладони. Что-то у него не выходит: он, сердито поскуливая, машет руками и начинает работу заново.
                        | - Вот наши герои, - представляет их сопровождающий. - Русские туристы. Идиоты. Несчастный случай. Уже семь лет выбраться на Родину не могут... - Вот наши герои, - представляет их сопровождающий. - Русские туристы. Идиоты. 
                        p Индусы и непальцы пересекают границу, когда хотят и где хотят. В общем, на первом же базаре я купил балахон - лонги, сандалии - чапл, чалму и в сумерках пустился обратно. Пропускной пункт - маленький домик с индийской стороны. С непальской ничего нет, похоже, им наплевать на всех нарушителей.
                        | Шел дождь. Офицер даже не выглянул из окошка, глядя, как я прыгаю по лужам. Но, когда я отошел метров на пятьдесят, все же решил размяться: «Стоять! Паспорт!»
                section.pagination
                    .square.first-last
                        a(href='#')
                            img(src='images/pagination-first.png' alt='')
                    .square
                        a(href='#')
                            img(src='images/pagination-prev.png' alt='')
                    .square.active 
                        a(href='#') 1
                    .square 
                        a(href='#') 2
                    .square 
                        a(href='#') 3
                    .square
                        a(href='#')
                            img(src='images/pagination-next.png' alt='')
                    .square.first-last
                        a(href='#')
                            img(src='images/pagination-last.png' alt='')
                section.clubs
                    .hr-title
                        .hr-title__caps ЧИТАЙТЕ ТАКЖЕ
                        hr
                    .article-cards
                        .article-card
                            .article-card__title Всеукраинский турнир "Кубок Азовского моря 2011"
                            .article-card__preview
                                img(src='images/art4.png' alt='')
                            .article-card__text
                                | 16 и 17 июня 2011 года в Бердянске проходил турнир по ушу таолу "Кубок Азовского моря"...
                        .article-card
                            .article-card__title Открытый Чемпионат г.Мариуполя по ушу (весна 2011)
                            .article-card__preview
                                img(src='images/art1.png' alt='')
                            .article-card__text
                                | 16 и 17 июня 2011 года в Бердянске проходил турнир по ушу таолу "Кубок Азовского моря"...
                        .article-card
                            .article-card__title Открытый Чемпионат г.Мариуполя по ушу (весна 2011)
                            .article-card__preview
                                img(src='images/art2.png' alt='')
                            .article-card__text
                                | 16 и 17 июня 2011 года в Бердянске проходил турнир по ушу таолу "Кубок Азовского моря"...                            
                section.socials
                    img(src='images/social-buttons.png' alt='')
                    img(src='images/vk-fake.png' alt='')
        .traveling-india-gap          
        footer
            .central-part
                .footer-column1
                    .general
                        img(src='images/footer-logo.png' alt='' class='logo-footer')
                        .text
                            .name Саньхэ
                            .subline Клуб традиционного ушу
                    .copyright www.novoshu.ru / “Саньхэ”, клуб традиционного ушу / Все права защищены, 2001-2020
                img.vertical-separator(src="images/vertical-separator-2.png" alt="")
                .footer-column2
                    .phone + 7 (988) 762-26-10
                    .email.white maihua@rambler.ru
                    .address 
                        .address-1.white г.Новороссийск 
                        .address-2 ул. Промышленная, 57
                img.vertical-separator(src="images/vertical-separator-2.png" alt="")                    
                .footer-column3
                    ul
                        li 
                            a(href='#') Новости
                        li 
                            a(href='#') Клуб Саньхэ
                        li 
                            a(href='#') Ушу
                        li 
                            a(href='#') Тайцзи цюань
                        li 
                            a(href='#') Цигун
                        li 
                            a(href='#') Интересное
                img.vertical-separator(src="images/vertical-separator-2.png" alt="")
                .footer-column4
                    .social-column
                        .social-link
                            img(src='images/footer-fb.png', alt='')
                            a(href='#') Facebook
                        .social-link
                            img(src='images/footer-tw.png', alt='')
                            a(href='#') Twitter
                        .social-link
                            img(src='images/footer-yt.png', alt='')
                            a(href='#') YouTube
                    .social-column
                        .social-link
                            img(src='images/footer-vk.png', alt='')
                            a(href='#') Vkontakte
                        .social-link
                            img(src='images/footer-gplus.png', alt='')
                            a(href='#') Google Plus